VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_APP_ID=your-app-id
VITE_API_URL=http://localhost:8081

VITE_MAPLIBRE_STYLE_URL_LIGHT=https://tiles.openfreemap.org/styles/liberty
VITE_MAPLIBRE_STYLE_URL_DARK=https://tiles.openfreemap.org/styles/liberty
